/* FOOTER */

.fa{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer{
    background: var(--dark);
    color: #fff;
    text-align: left;
}

.footer h2{
    margin-bottom: 5px;
}

.footer-container{
    width: 85vw;
    margin: 0 auto;
    padding: 30px 0;
}
  
.footer-container p, .footer-container a, .footer-container span{
    opacity: 0.9;
}

.useful_links a{
    display: block;
}

.social-icons-bot{
    list-style: none;
    display: flex;
    justify-content: start;
    padding: 15px 0;
}

.social-icons-bot a{
    margin: 0 10px;
    width: 50px;
    height: 50px;
    color: var(--light);
    background: white;
    border-radius: 50%;
    transition: var(--transition);
    cursor: pointer;
    text-decoration: none;
}

.social-icons-bot a:hover{
    background: var(--medium);
    color: white;
}

.contact-item span{
    display: block;
}

.copyright-container{
    padding: 30px 0;

}
.copyright{
    text-align:center;
    opacity: 0.6;
    margin-bottom:0;
}

.useful_links  a, .copyright a{
    color: #fff;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 1s;
}


.useful_links a:hover, .copyright a:hover{
    text-decoration-color: white;
    color: var(--light);
    opacity: 1;
}

@media (min-width: 320px){

    .footer-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-item{
        display: grid;
        grid-template-columns: 10% 90%;
        margin-bottom: 15px;
        align-items: center;
    }
    

    .copyright-container{
        padding: 0;
    
    }

    .copyright{
        font-size:12px;
        padding: 0 30px 30px 30px;
    }
    
}
@media (min-width:  480px){

    .footer-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .contact-item{
        display: grid;
        grid-template-columns: 10% 90%;
        margin-bottom: 15px;
        align-items: center;
    }
    
}

@media (min-width: 1200px){

    .footer-container{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 150px;
    }


    .contact-item{
        display: grid;
        grid-template-columns: 10% 90%;
        margin-bottom: 15px;
        align-items: center;
    }
}

@media (min-width: 1900px){
    
    .contact-item{
        display: grid;
        grid-template-columns:  5% 90%;
        margin-bottom: 15px;
        align-items: center;
    }

    .copyright{
        font-size:14px;
    }
}
