/* FOOTER */

.footer{
    background: var(--dark);
    color: #fff;
    text-align: left;
}

.footer h2{
    margin-bottom: 5px;
}

.footer-container{
    width: 85vw;
    margin: 0 auto;
    padding: 30px 0;
}
  
.footer-container p, .footer-container a, .footer-container span{
    opacity: 0.9;
}

/* Useful links */

.useful_links a{
    display: block;
}

/* Social */

.fa-brands {
    width: 35px;
    height: 45px;
}

.social-icons-bot i {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons-bot a {
    list-style: none;
    margin: 0 10px;
    display: inline-block;
    font-size: 30px;
    padding: 5px 10px;
    color: var(--light);
    background-color: #fff;
    border-radius: 50%;
    transition: var(--transition);
    text-decoration: none !important;
}

.social-icons-bot a:hover {
    color: #fff;
    background-color: var(--medium);
}

/* Contact */

.contact-item span{
    display: block;
}

/* Copyright */

.copyright-container{
    padding: 30px 0;

}
.copyright{
    text-align:center;
    opacity: 0.6;
    margin-bottom:0;
}

/* Useful links and Copyright hover */

.useful_links  a, .copyright a{
    color: #fff;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 1s;
}


.useful_links a:hover, .copyright a:hover{
    text-decoration-color: white;
    color: var(--light);
    opacity: 1;
}

@media (min-width: 320px){

    .footer-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .social-icons-bot a{
        margin: 10px;
    }

    .contact-item{
        display: grid;
        grid-template-columns: 10% 90%;
        margin-bottom: 15px;
        align-items: center;
    }
    
    .copyright-container{
        padding: 0;
    
    }

    .copyright{
        font-size:12px;
        padding: 0 30px 30px 30px;
    }
    
}
@media (min-width:  480px){

    .footer-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .contact-item{
        display: grid;
        grid-template-columns: 10% 90%;
        margin-bottom: 15px;
        align-items: center;
    }
    
}

@media (min-width: 1200px){

    .footer-container{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 150px;
    }

    .contact-item{
        display: grid;
        grid-template-columns: 10% 90%;
        margin-bottom: 15px;
        align-items: center;
    }
}

@media (min-width: 1900px){
    
    .contact-item{
        display: grid;
        grid-template-columns:  5% 90%;
        margin-bottom: 15px;
        align-items: center;
    }

    .copyright{
        font-size:14px;
    }
}
