@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* General style */
:root{
    --transition: all 0.7s ease;
    --dark: #a4133c;
    --medium: #ff4d6d;
    --light: #ff758f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* Social Nav */

.social_nav{
  background-color: var(--dark);
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.social-item{
  opacity: 0.9;
  align-self: center;
  justify-self: center;
}

.social-item{
  cursor: pointer;
}

.social-item a{
  text-decoration: none;
  color: #fff;
}

.social-icons-top{
  display: flex;
  justify-content: start;
}

.social-icons-top a{
  margin: 0 10px;
  color: #fff;
  border-radius: 50%;
  transition: var(--transition);
  cursor: pointer;
  text-decoration: none;
}

.social-icons-top a:hover{
  color: var(--light);
}

/* Principal Nav */

.principal_nav {
  background-color: #ffffffc9;
  box-shadow: 2px 2px 7px #929292;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand{
  margin: 15px 0 15px 80px;
}

.navbar-brand img{
  width: 300px;
}

.navbar-nav{
  margin-right: 80px;
}

.navbar-nav li{
  display: inline-block;
  padding: 20px;
}

.navbar-nav a{
  text-decoration: none;
  color: var(--medium);
  font-weight: bold;
}

.navbar-nav a:hover {
  color: var(--dark);
}

.active{
  padding: 15px;
  background-color: var(--medium);
  border-radius: 10px;
  color: #fff !important;
}

.active:hover{
  background-color: var(--light);
}


@media (min-width: 320px){ /* Movil */

  
}
@media (min-width:  480px){ /* IPad */

  .navbar-brand{
    margin: 15px 0 15px 15px;
  }
  
  .navbar-nav{
    margin-right: 15px;
  }  
  .navbar-nav li{
    display: inline-block;
    padding: 10px;
  }

  /* Responsive Top Navigation */
  
}

@media (min-width: 1200px){ /* Portatiles */
  .navbar-brand{
    margin: 15px 0 15px 30px;
  }
  
  .navbar-nav{
    margin-right: 30px;
  }  

  .navbar-nav li{
    display: inline-block;
    padding: 20px;
  }
  
}

@media (min-width: 1900px){ /* TV */
  
}

/* Header */

body {
    line-height: 1.5;
}