@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@400;500;600;700;800;900&display=swap');

:root{
    --transition: all 0.7s ease;
    --dark: #a4133c;
    --medium: #ff4d6d;
    --light: #ff758f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.5;
}


/* FOOTER */

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer{
    background: var(--dark);
    color: #fff;
    text-align: left;
}

.footer h2{
    margin-bottom: 5px;
}
.footer a{
    color: #fff;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 1s;
}

.footer a:hover{
    text-decoration-color: white;
    color: var(--light);
    opacity: 1;
}

.footer-container{
    width: 85vw;
    margin: 0 auto;
    padding: 30px 0;
}
  
.footer-container p, .footer-container a, .footer-container span{
    opacity: 0.8;
}


.useful_links a{
    display: block;
}

.social-icons{
    list-style: none;
    display: flex;
    justify-content: start;
    padding: 15px 0;
}

.social-icons li{
    margin: 0 10px;
    width: 50px;
    height: 50px;
    color: var(--light);
    background: white;
    border-radius: 50%;
    transition: var(--transition);
    cursor: pointer;
}

.social-icons li:hover{
    background: var(--medium);
    color: white;
}
.contact-item span{
    display: block;
}

.copyright-container{
    padding: 30px 0;

}
.copyright{
    text-align:center;
    opacity: 0.6;
    margin-bottom:0;
}

@media (min-width: 320px){

    .footer-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-item{
        display: grid;
        grid-template-columns: 10% 90%;
        margin-bottom: 15px;
        align-items: center;
    }
    

    .copyright-container{
        padding: 0;
    
    }

    .copyright{
        font-size:12px;
        padding: 0 30px 30px 30px;
    }
    
}
@media (min-width:  480px){

    .footer-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .contact-item{
        display: grid;
        grid-template-columns: 10% 90%;
        margin-bottom: 15px;
        align-items: center;
    }
    
}

@media (min-width: 1200px){

    .footer-container{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 150px;
    }


    .contact-item{
        display: grid;
        grid-template-columns: 10% 90%;
        margin-bottom: 15px;
        align-items: center;
    }
}

@media (min-width: 1900px){
    
    .contact-item{
        display: grid;
        grid-template-columns:  5% 90%;
        margin-bottom: 15px;
        align-items: center;
    }

    .copyright{
        font-size:14px;
    }
}
